{% extends 'base.html.twig' %}

{% block title %}Hello CategoryTaskController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Category Tree recruitment task</h1>

    <div>
        <h3>Input List Data:</h3>
        <pre>
            {{ dump(listJson) }}
        </pre>
    </div>

    <div>
        <h3>Input Tree Data:</h3>
        <pre>
            {{ dump(treeJson) }}
        </pre>
    </div>

    <div>
        <h3>Input List Data names by id:</h3>
        <pre>
            {{ dump(nameById) }}
        </pre>
    </div

    <div>
        <h3>Output Enriched Tree Data:</h3>
        <pre>
            {{ dump(enrichedTreeJson) }}
        </pre>
    </div>
</div>
{% endblock %}
